{% extends "base.html" %}
{% block title %}Create new task{% endblock %}
{% block content %}
<p>Title: {{ task.title|title }}</p>
<span style="color: {% if task.not_done %}red{% endif %};">
    <p>Due Date: {{task.due_date}}</p>
    <p>Due Time: {{task.due_time}}</p>
</span>
<form method="post" action="">
    {% csrf_token %}
    {{ form }}
    <button type="submit">Update</button>
</form>
<form method="post" action="{% url 'delete' task.pk %}">
    {% csrf_token %}
    <input type="submit" value="Delete">
</form>
{% endblock %}